Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# string
a = "albert"
print(a,"\n")
# list
b = [10,30.0, "alfred", 5+15j]
print(b,"\n")
# float
c= 4.45
print(c,"\n")
# tuple
d = (10,30.0, "alfred", 5+15j)
print(d)

albert

[10, 30.0, 'alfred', (5+15j)]

4.45

(10, 30.0, 'alfred', (5+15j))

#### Q2. Given are some following variables containing data:
##### (i) var1 = ‘ ‘
##### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
##### (iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = " "

print(type(var1))

var2 = "[ DS , ML , Python]"
print(type(var2))

var3 = ["DS" , "ML" , "PYTHON" ]
print(type(var3))

var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
 #### (i) / = Division - used to divide a numerator by a denumerator
 #### (ii) % = used to find the reminder value after a division
 #### (iii) // = Floor division used to rounds the result down to the nearest whole number
  #### (iv) ** = power or exponential sign raised a number to power of the exponent

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
a = [23,45,54,67,"alfred", "men", 90, 95.5, 5+119j, "pwpython"]

for items in a:
    print(items,type(items))

23 <class 'int'>
45 <class 'int'>
54 <class 'int'>
67 <class 'int'>
alfred <class 'str'>
men <class 'str'>
90 <class 'int'>
95.5 <class 'float'>
(5+119j) <class 'complex'>
pwpython <class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [4]:
A = 20  # Let's say we have 20 candies
B = 3   # And we want to divide them into groups of 3

count = 0  # We'll use this variable to count how many times A can be divided by B

while A >= B:  # While A is greater than or equal to B
    A = A - B  # Subtract B from A
    count = count + 1  # Increase the count by 1

if A == 0:  # If A becomes exactly 0, it means A is divisible by B
    print("A is divisible by B!")
    print("A can be divided", count, "times by B")
else:
    print("A is not divisible by B!")

A is not divisible by B!

#### Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [5]:
numbers = [2, 9, 12, 7, 15, 20, 33, 5, 18, 22, 27, 11, 30, 8, 17, 21, 36, 14, 25, 6, 16, 3, 10, 13, 19]

for num in numbers:  # For each number in the list
    if num % 3 == 0:  # If the number is divisible by 3 (no leftovers after dividing by 3)
        print(num, "is divisible by 3!")
    else:
        print(num, "is not divisible by 3.")

2 is not divisible by 3.
9 is divisible by 3!
12 is divisible by 3!
7 is not divisible by 3.
15 is divisible by 3!
20 is not divisible by 3.
33 is divisible by 3!
5 is not divisible by 3.
18 is divisible by 3!
22 is not divisible by 3.
27 is divisible by 3!
11 is not divisible by 3.
30 is divisible by 3!
8 is not divisible by 3.
17 is not divisible by 3.
21 is divisible by 3!
36 is divisible by 3!
14 is not divisible by 3.
25 is not divisible by 3.
6 is divisible by 3!
16 is not divisible by 3.
3 is divisible by 3!
10 is not divisible by 3.
13 is not divisible by 3.
19 is not divisible by 3.

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Immutable Data Type: Strings
Strings in Python are immutable. Once a string is created, its individual characters cannot be modified.

In [6]:
name = "Alice"
name[0] = "B"  # This will result in an error because strings are immutable

TypeError: 'str' object does not support item assignment

Mutable data type: list in python are mutable, individual items in a list can be modified

In [7]:
ab = [12, "alfred", 90, 45,23]

ab[2]= "mike"
print(ab)

[12, 'alfred', 'mike', 45, 23]